@model fifness.Models.BAIVIET
@{
    ViewBag.Title = "chiTietBaiViet";
    Layout = "~/Views/Shared/_LayoutChinh.cshtml";
}

<h1>@Model.TENBV</h1>
<img class="card-img rounded-0" src="~/img/img_Content/@Model.HINH" alt="">
<h5>@Model.NOIDUNG @Model.NOIDUNG   @Model.NOIDUNG  @Model.NOIDUNG</h5>
<h3></h3>
<h5>@Model.NOIDUNG</h5>
<h5>@Model.NOIDUNG</h5>
<img class="card-img rounded-0" src="~/img/img_Content/@Model.HINH" alt="">
h5>@Model.NOIDUNG @Model.NOIDUNG   @Model.NOIDUNG  </h5>
<h5>@Model.NOIDUNG</h5>
@Model.NGAYVIET - Chủ Đề:    @Model.CHUDE.TENCD



