
@{
                /**/

                ViewBag.Title = "thucDon";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4>Thực Đơn / Của Bé</h4>
        </div>
        <div class="card-body">
            <p class="text-muted m-b-15">
                To make the tabs toggleable, add the
                <code>data-toggle="tab"</code> attribute to each link. Then add a
                <code>.tab-pane</code> class with a unique ID for every tab and wrap them inside a
                <code>&lt;div&gt;</code> element with class
                <code>.tab-content</code>. If you want the tabs to fade in and out when clicking on them, add the
                <code>.fade</code> class to
                <code>.tab-pane</code>:
            </p>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ngày</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tuần</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tháng</a>
                </li>
            </ul>
            <h2>Export</h2>
            <div class="tab-content pl-3 p-1" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <table class="table pt-5">
                        <thead class="thead-dark pt-5">
                            <tr>
                                <th scope="col">Bữa ăn</th>
                                <th scope="col">Món 1</th>
                                <th scope="col">Món 2</th>
                                <th scope="col">Món 3</th>
                                <th scope="col">Món 4</th>
                                <th scope="col">Món 5</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>


                                    <th scope="row">

                                        SÁNG
                                    </th>
                                

                                @foreach (var item in ViewBag.buasang)
                                {

                                    <td>@item.MONAN.TEN_MON</td>

                                }

                            </tr>
                            <tr>

                                <th scope="row">

                                    TRƯA
                                </th>
                                @foreach (var item in ViewBag.buatrua)
                                {

                                    <td>@item.MONAN.TEN_MON</td>
                                }
                            </tr>
                            <tr>

                                <th scope="row">

                                    TỐI
                                </th>
                                @foreach (var item in ViewBag.buatoi)
                                {
                                    <td>@item.MONAN.TEN_MON</td>
                                }

                            </tr>
                            <tr>
                                <th scope="row">

                                    PHỤ
                                </th>
                                @foreach (var item in ViewBag.buaphu)
                                {

                                    <td>@item.MONAN.TEN_MON</td>
                                }

                            </tr>





                            </tbody>


                        </table>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">



                    @foreach (var item in ViewBag.sangt)
                    {
                    <div class="row" style="color:red">
                        <div class="col-sm-3" style="background-color:red;">@item.MONAN.TEN_MON</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="background-color:palegreen;">@item.MONAN.TEN_MON</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="background-color:slategrey;">@item.MONAN.TEN_MON</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="background-color:lavender;">@item.MONAN.TEN_MON</div>
                    </div>
                    }

                    <div class="row">
                        @foreach (var item in ViewBag.sangt)
                        {
                            <div class="col-sm-3" style="background-color:lavender;">@item.MONAN.TEN_MON</div>
                        }
                        @foreach (var item in ViewBag.sangt)
                        {
                            <div class="col-sm-3" style="background-color:red;">@item.MONAN.TEN_MON</div>
                        }
                        @foreach (var item in ViewBag.sangt)
                        {
                            <div class="col-sm-3" style="background-color:springgreen;">@item.MONAN.TEN_MON</div>
                        }
                        @foreach (var item in ViewBag.sangt)
                        {
                            <div class="col-sm-3" style="background-color:orangered;">@item.MONAN.TEN_MON</div>
                        }





                        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-4</div>
                        <div class="col-sm-3" style="background-color:lavender;">.col-sm-4</div>
                        <div class="col-sm-3" style="background-color:lavender;">.col-sm-4</div>
                    </div>

                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                    <h3>Tháng</h3>
                    <p>Some content here.</p>
                    <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-4</div>
                    <div class="col-sm-3" style="background-color:lavender;">.col-sm-4</div>
                    <div class="col-sm-3" style="background-color:lavender;">.col-sm-4</div>
                </div>
            </div>


        </div>
    </div>
</div>

