@using fifness.Models; 
@{
    ViewBag.Title = "ThucDonTheoTuan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
    }

<h2>THỰC ĐƠN THEO TUẦN  LỚP <a href="#"> @ViewBag.lop1.LOP.TEN_LOP</a></h2>
<table class="table pt-5">
    <thead class="thead-dark pt-5">
        <tr>
            <th scope="col">Bữa ăn</th>
            <th scope="col">Món 1</th>
            <th scope="col">Món 2</th>
            <th scope="col">Món 3</th>
            <th scope="col">Món 4</th>
            <th scope="col">Món 5</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <th scope="row">

                SÁNG
            </th>
            @foreach (var item in ViewBag.buasang)
            {

                <td>@item.MONAN.TEN_MON</td>
                
            }

        </tr>
        <tr>

            <th scope="row">

                TRƯA
            </th>
            @foreach (var item in ViewBag.buatrua)
            {

            <td>@item.MONAN.TEN_MON</td>
            }
        </tr>
        <tr>

            <th scope="row">

                TỐI
            </th>
            @foreach (var item in ViewBag.buatoi)
            {
            <td>@item.MONAN.TEN_MON</td>
            }

        </tr>
        <tr>
            <th scope="row">

                    PHỤ
            </th>
            @foreach (var item in ViewBag.buaphu)
            {

            <td>@item.MONAN.TEN_MON</td>
            }

        </tr>





    </tbody>


</table>

